.DS_Store
*.lnk
*.ini
*.png
*.code-workspace
*.pt
*.json
*.local
*.out
*.pth
*.gif
*.pyc
*.dat
*.bz2

.vscode
__pycache__
_tmp/
_old/

Key.tsx
twitter-image-serch-app/twitter-image-search-app/.firebase/hosting.YnVpbGQ.cache
youtube-video-view-app/youtube-video-view-app/.firebase/hosting.YnVpbGQ.cache
video-view-app/video-view-app/.env
youtube-video-view-app/youtube-video-view-app/firebase-debug.log
